body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: -400;
    color: #000000;
    text-transform: uppercase;
    background-repeat: no-repeat;
}

a{
    text-decoration: none;
}

.welcome{
    background-image: url("../img/background-1.jpg");
    width: auto; 
    position: center; 
}

h1 {
    display: block;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
}

 p{
    display: block;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
} 

.main-navigation {
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    background-color: #ffffff;
}  

.site-navigation {
    list-style: none;   
}

.site-navigation a{
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

.site-navigation a:hover,
.site-navigation a:focus,
.site-navigation a:active,{
    background-color: #000000;
}

.reason-list {
    list-style: none;
}

.results-item {
    background-position: left;
width: auto;
}

.main-header{
    font-size: bold;
    color: #000000;
}

.results-item-title{
    color: #000000;
    background-position: top left;

} 

img{
    display: block;
    max-width: 100%;
    height: auto;
}
    /* hotels для себя отделила */

.results-list {
    list-style: none;
}


.results-item-title a{
    font-size: 21px;
    line-height: 26px;
    color: #000000;
    background-color: #ffffff;  
}
p {
    font-size: 14px;
    line-height: 21px;
    color: #a9a9a9;
    background-color: #ffffff;  
}  

.btn a:hover {
    background-color: #99cccc ;
    color: #ffffff
}

.btn a:focus {
    background-color: #6699cc;
    color: #ffffff
}
.btn a:active{
    background-color: #6699cc;
    color: #ffffff
}
.btn btn-dark a:hover {
    background-color: #666666;
    color: #ffffff
} 
.btn btn-dark a:focus {
    background-color: #666633;
    color: #ffffff
}
.btn btn-dark a:active {
    background-color: #663333;
    color: #ffffff
}