html,
body {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    color: #333333;
    text-transform: uppercase;
    background-color: #f2f2f2;
}
img {
    max-width: 100%;
    height: auto;
  }
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
a {
    text-decoration: none;
}
.container {
    width: 1200px;
    text-align: center;
    background-color: #ffffff;
    margin: 0 auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, .5);
}
.main-header{
    position: relative;
    
}
.logo{
    position: absolute;
    left: 50%;
   z-index: 1;
   transform: translateX(-50%)
  
}

.welcome{
    background-color: #96aac7;
    background-image: url("../img/background-1.jpg");
    padding: 76px 73px 72px;;
    min-height: 508px;
    background-size: cover;
    position: relative;
}
.welcome::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 56px;
    left: 0;
    bottom: 0;
    background: url("../img/intro-mask.svg")
}
.intro {
    padding: 60px 50px 14px;
}
.page-title {
    width: 440px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    align-items: center;
    margin: 0 auto 27px;
}

.intro p{
    margin: 10px 0;
    
} 

.site-navigation {
    display: flex;
    flex-wrap: wrap;
   
    margin: 0;
    padding: 0 73px;
    list-style: none;
    position: relative;
}   
.site-navigation li{
    padding: 15px 0; 
    width: 20%;
}
.site-navigation a{
    line-height: 26px;
    font-weight: 700;
    text-decoration: none;
    color: #333;
}

.site-navigation li:nth-child(2){
    margin-right: 20%;
    padding-left: 30px;
}

.site-navigation li:nth-child(3){
    padding-right: 32px;
    text-align: right;
   }
.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2){
    text-align: left;
}
.site-navigation li:nth-child(4){
    text-align: right;
}



.site-navigation a{
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    
}
.site-navigation a:hover,
.site-navigation a:focus{
    color: rgba(106, 156, 212, 0.1);
}


.site-navigation a:active {
    color: rgba(204, 204, 204, .3); 
}
.reason-item{
    width: 400px;
    
}
.reason-item-wide{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 26px 0 0;
}
.reason-info{
    width: 400px;
    padding-top: 46px;
    text-align: center;
    background: #81b3d2;
    color: white;
    position: relative;
    height: 256px;
}
.reason-title{
    margin: 3px auto 23px;
    max-width: 160px;
    font-size: 21px;
    line-height: 20px;
}

.reason-list{
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    list-style: none;
}
.reason-image {
    width: 800px;
    height: 256px;
    overflow: hidden;
    

}
.reason-info p{
    margin: 15px 40px;
    line-height: 23px;
 }



.reason-counter p {
    width: 60px;
    margin: 0 auto 21px;
    
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    font-weight: 400;
}


.reason-sublist{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0px;
    list-style: none;
    background-color: #ffffff;
    padding: 62px 0 44px;
}
.reason-sublist .reason-title{
    margin: 0 118px;;
    padding: 100px 0 10px 4px;
    font-family: "PT Sans";
    font-size: 21px;
    font-weight: 700;
    line-height: 21px;
    color: #000000;
    background-position: top center;
    background-size: 74px 70px;
}

.reason-title-home{
    background-image: url("../img/icon-1.svg");
    
}
.reason-title-food{
    background-image: url("../img/icon-3.svg");
}
.reason-title-souvenir{
    background-image: url("../img/icon-2.svg");
    background-size: 65px 75px;
}

.reason-sublist p{
    margin: 10px 50px;
    line-height: 23px;
}
.reason-title.reason-title-home:hover{
    
    content: "";
    position: absolute;
    top: -100px;
    left: 162px;
    height: 72px;
    width: 75px;
    display: block;
    background-image: url("../img/icon-1.svg");
    background-repeat: no-repeat;



   
}
.reason-title.reason-title-food:hover{
    content: "";
    position: absolute;
    top: -100px;
    left: 162px;
    height: 72px;
    width: 75px;
    display: block;
    background-image: url("../img/icon-3.svg");
    background-repeat: no-repeat;
    
}
.reason-title.reason-title-souvenir:hover{
    content: "";
    position: absolute;
    top: -100px;
    left: 162px;
    height: 72px;
    width: 75px;
    display: block;
    background-image: url("../img/icon-2.svg");
    background-repeat: no-repeat;
 
}


.reason-title.results-item-title{
    display: flex;
    text-transform: uppercase;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    margin: 0;
    padding-right: 525px;
   
}
.reason-item-gray{
    padding: 45px 0 43px;
    background-color: #eeeeee;
}
.reason-item-gray p{
    margin: 0 50px;
    padding: 0 10px 19px;
    line-height: 21px;
}
.apointment{
    padding:  51px 51px 0;
}


.apointment-title  {
    margin: 0 auto;
    margin-bottom: 24px;
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
    text-align: center;
    color: #000000;
    width: 550px;
}
.apointment p{
    margin: 0 auto 47px;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    text-align: center;
    color: #333333;
    width: 534px;
}
.apointment-button {
    padding: 30px 30px;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
    background-color: #766357;
    font-family: "PT Sans", Arial, sans-serif;
    border: 0;
    text-transform: uppercase;
    width: 568px;
}

.apointment-button:hover{
    background-color: #766357;
}
.apointment-button:focus{
    background-color: #604e43;
}
.apointment-button:active{
    background-color: rgba(80, 62, 50, 0.3)
}
.main-footer{
    position: relative;
}
.form-btn{
    padding: 16px 0;
    margin-bottom: 54px;
    width: 458px;
    font-size: 21px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #81b3d2;
    border: none;
    cursor: pointer;
}
.btn:hover{
    background-color: #81b3d2;
}
.btn:active{
    background-color: #5496bd;
    color: rgba(255, 255, 255,)
}
.input-line{
    margin: 0;
}
.input-line-half .adult{
    width: 250;
    margin: 0;
    padding: 0;
    justify-content: center;
}
.input-line-half p{
    margin: 0;
    padding: 0;
}
.input-line-half .children{
    margin: 0;
    padding: 0;
    width: 250;
    position: left;

}
.main footer{
    position: relative;
    text-align: center;
    overflow: hidden;

}
.footer-wraper {
    display: flex;
    align-items: center;
    padding: 36px 23px ;
    position: absolute;
    background-color: rgba(255, 255, 255, .9);
    text-align: center;
    bottom: 0;
    width: 100%;
}
 form.search-form{
     position: absolute;
     background: #ffffff;
     left: 50%;
     margin-left: -283px;
     width: 568px;
     transform: translateY();
 }
.map{
    width: 100%;
    height: 593px;
    overflow: hidden;
}

.hashtag {
    width: 250px;
    margin: 0 55px;
    color: #000000;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
}

    /* hotels для себя отделила */
 .filter {
    
    background-image: url("../img/filter-background.jpg");
    background-size: cover;
    padding: 30px 73px 22px;
}
.filter-category{
    display: flex;
    flex-wrap: wrap;
}
 
.filter-form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: 0;
    padding: 0;
    border: 0;
    color: #ffffff;
    
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-align: left;
    width: 200px;
    padding-right: 30px;

 } 
 .filter-price{
     border: 0;
     margin: 0;
     padding: 0;
     margin-left: auto;
    height: 36px;
    margin-bottom: 20px;
      
    border: 2px solid #ffffff;
    border-radius: 2px;
      }
 
 .filter-form-group p {
    margin: 0;
    padding: 0;
 }
 .filter-form-title {
    margin: 0;
    padding: 0;
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    margin-left: 40px;
    margin-bottom: 25px;
 }
 .filter-form-title p{
 position: relative;
  
 height: 36px;
 margin-bottom: 20px;
 
 font-size: 0;

 border: 2px solid #ffffff;
 border-radius: 2px;
}
.filter-form-title label{
    
        display: inline-block;
      
        font-size: 14px;
        line-height: 38px;
        vertical-align: top;
      
        cursor: pointer;
}
.filter-form-title .min-price,
.filter-form-title .max-price{
    width: 90px;
    padding-left: 65px;
}


.filter-range {
    width: 330px;
    margin: 50px auto;
  
    color: #ffffff;
    text-transform: uppercase;
}
.sorting {
    display: flex;
    flex-wrap: wrap;
    padding: 7px 73px 10px;
    background-color: #fefefe;
    align-items: center;
    border-bottom: 0;
}

.sorting-title {
    display: flex;
    flex-wrap: wrap;
    margin-right: 2px;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-align: left;
    color: #000000;
}
.sorting-title span{
    margin:0 5px;
}
.sorting-caption {
    margin: 7px 31px 0 34px;
    font-size: 12px;
    font-weight: bold;
    width: 88px;
}


ul.sorting-list{
    list-style: none;
    margin: 7px 18px 2px 1px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.sorting-list a{
    margin-right: 34px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    text-align: left;
    color: rgba(0, 0, 0, 0.3);
}
 .arrows{
     margin-left: auto;

 }

.rating-numbers{
    font-size: 14px;
    line-height: 26px;
    background-color: #666666;
    font-weight: 400;
    padding: left;
    width: 110px;
    height: 26px;
}


.site-navigation.active {
     color: #766257;
}
.results {
    display: flex;
    flex-direction: column;
}

.results-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

}


.results-item-image {
    display: block;
    margin-right: 30px;
    margin-top: 5px;
}
.results-item{
    width: 100%;
    display: flex;
    padding-top: 9px;
    padding-bottom: 17px;
    padding-left: 73px;
    padding-right: 73px;
    border-bottom: 1px solid #e5e5e5;
}
.results-item-image{
    display: block;
    margin-right: 30px;
    margin-top: 22px;
}
.results-item-content{
    display: flex;
    flex-wrap: wrap;
    width: 280px;
}
h2.results-item-title{
    width: 100%;
    text-align: left;
    margin: 17px 0 5px;
}
.results-item-title a{
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
   
}

.results-item-title p{
    vertical-align: top;
    width: 78px;
    color: #333333;
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
}
.results-item-title a:hover{
    color: #81b3d2;
}
.results-item-title a:active{
    color: rgba(0,0,0,);
}

.results-item-content p {
    color: #000000;
    line-height: 21px;
    width: 42%;
    text-align: left;
    margin: 3px 0;
}
 
.btn{
    background-color: #81b3d2;
    margin: 6px 0 8px;
    vertical-align: top;
    padding: 6px 17px;
    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.results-item-content .btn {
    margin-right: 6px;
   
}

.btn:hover,
.btn:focus{
    background-color: #669ec0;
}
.btn:active{
    color: #94b9d2;
    background-color: #5496bd;
}
.results-item-content .btn-dark {
    background-color: #766357;
}
.btn-dark:hover,
.btn-dark:focus{
    background-color: #604e43;
}

.btn-dark:active{
    color: #928a85;
    background-color: #503e33;
}

.results-item-rating{
   margin-left: auto;
}
.hotel-star {
    height: 18px;
    margin-bottom: 46px;
    background-image: url("../img/star.svg");
    background-repeat: repeat-x;
    margin-top: 20px;
}
.star-4 {
    width: 72px;
    margin-left: auto;
    
}
.star-3{
    width: 54px;
    margin-left: auto;
    
}
.star-2 {
    width: 37px;
    margin-left: auto;
    
}

.rating-numbers{
    text-align: center;
    padding: 3px 14px;
    color: #666666;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    background-color: #f2f2f2;

}
.inner-footer{
    display: flex;
    align-items: center;
    padding: 36px 23px ;
    background-color: rgba(255, 255, 255, .9);
    text-align: center;
    bottom: 0;
    width: 100%; 
}

.hashtag {
    width: 250px;
    margin: 0 54px;
    color: #000000;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
}
.social{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 8px 0 144px;
    padding: 0;
    width: 155px;
    text-align: center;
    list-style: none;
}
.social a {
    margin-right: 5px;
}
.social a:nth-child(3n) {
    margin: 0;
}

.social-btn{
    display: flex;
    width: 46px;
    height: 48px;
    color: #ffffff;
    background-color:  #81b3d2;
    background-position: center;
    
}
.social-btn:hover{
    background-color: #6699cc;
    color: #ffffff;
}
.social-btn:active{
    background-color:  #5496bd;
    color: #ffffff;
    opacity: 0.3;
}
.icon-twitter{
    background-image: url("../img/twitter.svg");
    background-repeat: no-repeat;
}
.icon-facebook{
    background-image: url("../img/fb-icon.svg");
    background-repeat: no-repeat;
}
.icon-youtube{
    background-image: url("../img/youtube.svg");
    background-repeat: no-repeat;
}
.author {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    margin: 6px 9px 0 180px;
    color: #000000;
    text-align: center;
}